@import "../include/button.less";
@import "../include/spinner.less";
@import "../include/font.less";
@import "../less-vendors/noUISlider/jquery.nouislider.less";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


nav, .nav-wrapper {
  background-color: #0042B1;
  a {
    i {
      margin-right: 15px;
    }
  }
}

body {
  background-color: #ffffff;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-tap-highlight-color: transparent !important; /* For some Androids */
  outline: 0;
  box-sizing: border-box;
}

h1 {
  font-family: PetitaMedium;
  color: #90283D;
  font-size: 90px;
  text-align: center;
  @media screen and (max-width: 439px) {
    font-size: 58px;
  }
}

h3 {
  font-family: PetitaMedium;
  text-align: center;
  color: #ffffff
}

h4 {
  margin: 0;
  autoflow: hidden
}

a {
  font-family: PetitaMedium;
}

p {
  font-family: PetitaMedium;
  color: #333333;
  font-size: 18px;
}

.col.tab-container {
  padding: 0px
}

i {
  color: #FAFAFA;
}

textarea, input {
  color: #FAFAFA;
  font-size: 16px;
}

.col.col-no-padding-left {
  padding-left: 0px;
}

#main-content {
  position: relative;
  height: 90%;
}

.row {
  margin-bottom: 0;
}

#logo {
  img {
    height: 35px;
    width: 35px;
  }
  margin-top: 7px;
  @media only screen and (max-width: 992px) {
    left: 92%;
  }
}

.modal {
  max-height: 100%;
  width: 100% !important;
  height: 100%;
  position: absolute;
  .modal-content {
    padding: 0;
  }

  .modal-header {
    background-color: #EE6E73;
    padding-top: 17px;
    height: 64px;
    color: white;
    h4 {
      margin: 0;
    }
  }
  .modal-footer {
    img {
      height: 45px;
    }
    a {
      margin-right: 10px !important;
    }
  }
}

.modal.donation-details {
  background-color: white;
  z-index: 9999;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 90% !important;
  height: auto;
  padding: 15px;
  top: initial !important;
  bottom: 15%;
  li img {
    height: 50px;
    width: 50px;
  }

  .modal-header {
    height: auto;
    background-color: white;
    .header, h6 {
      text-align: center;
      color: #333333;
    }
  }

  .book-btn {
    width: 100%;
  }
}

.glyphicon {
  font-size: 35px;
  color: white;
}

p.center {
  text-align: center;
}

.header {
  h4 {
    text-align: center;
    a {
      float: left
    }
  }
}

.splash-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
  background-color: #0042B1;
  img {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

#google-map {
  padding: 0 !important;
  height: 100%;
}

.pod-info {
  height: 80px;
  .circle {
    color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 10;
    text-align: center;
    padding: 4px;
    top: 50%;
    &.green {
      left: 30%;
    }
    &.blue {
      right: 30%;
    }
  }
  .rectangle {
    width: 38%;
    height: 17px;
    position: absolute;
    z-index: 9;
    left: 31%;
    top: 53%;
  }

  table {
    td {
      color: grey;
      border: 1px solid #D3D5D7;
      &:first-child {
        border-left: none;
        padding-left: 15px;
      }
      &:last-child {
        border-right: none;
        text-align: right;
        padding-right:15px;
      }
    }
  }
}

.rewards {
  position: absolute;
  height: 100%;
  width: 100%;
  img {
      position: absolute;
  height: 100%;
  width: 100%;
  }
}