#find-busker {
  #location-setting {
    margin-top: 20px;
  }
}

#search-wrapper {
  height: 100%;
  position: relative;
  .input-field {
    height: initial !important;
  }
}
#slider-wrapper {
  height: 10%;
  position: absolute;
  overflow: visible;
  right: 2%;
  z-index: 999;
  background-color: white;
  width: 40%;
  top: 2%;
  .slider-value {
    color: #333333;
  }
}

#google-map {
  position: relative;
  p {
    color: #333333;
  }
}


.tick-img {
  img {
    height: 100px;
    width: 100px;
  }
}

.tnk-text {
  color: #8f080a;
}
