.input-field label, .label {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
  text-align: left;
}

.nav-wrapper.to-go-nav {
  height: 200px;
  padding: 10px;
  .input-field {
    input {
      background-color: white;
      height: 2rem;
      padding-left: 6rem
    }
    i {
      font-style: normal;
      line-height: 2rem;
      color: #0042B1;
    }
  }
}
.form-footer {
  a {
    margin-right: 10px;
  }
}

input {
  color: #333333;
}