.tabs {
  .tab {
    a {
      border-left: 1px solid #FAFAFA;
      background-color: #333333;
    }
    &:first-child {
      a {
        border-left: none;
      }
    }
  }

  .indicator {
    height: 5px;
    z-index: 9999;
  }
}