@font-face {
  font-family: "Timber";
  src: url("../font/timber/Timber.ttf");
}

@font-face {
  font-family: "PetitaMedium";
  src: url("../font/PetitaMedium.ttf");
}

@font-face {
  font-family: "Jaapokki-Regular";
  src: url("../font/jaapokki/jaapokki-regular.ttf");
}


@font-face {
  font-family: "Jaapokki-Enhance";
  src: url("../font/jaapokki/jaapokkienchance-regular.ttf");
}

@font-face {
  font-family: "Jaapokki-Enhance";
  src: url("../font/jaapokki/jaapokkisubtract-regular.ttf");
}