@import "spinner/spinkit.less";

@spinner-color: #333333;

.spinner-wrapper {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.spinner-cell {
  display: table-cell;
  vertical-align: middle;
  @media screen and (max-height: 351px) {
    vertical-align: baseline;
  }
}

.sk-spinner {
  min-width: 200px;
  min-height: 200px;
  margin: auto;
}

.sk-spinner {
  div {
    margin: 0px 5px 0px 0px;
    width: 10px;
    background-color: @spinner-color;
  }
  p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: @spinner-color;
  }
}

.sk-spinner.sk-spinner-wave {
  div {
    height: 70px;
  }
}